<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pricing Service</title>

    {% include 'html_dependencies.html' %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Price Alert Service</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
            <li><a class="nav-item nav-link" href="{{url_for('stores.index')}}"><span class="fas fa-store-alt"></span> Stores</a></li>
        </ul>
      {% if session['email'] %}
          <ul class="navbar-nav ml-auto">
            <li><a class="nav-item nav-link" href="{{url_for('users.user_alerts')}}"><span class="fas fa-exclamation-circle"></span> Your Alerts</a></li>
            <li><a class="nav-item nav-link" href="{{url_for('users.logout_user')}}"><span class="fas fa-sign-out-alt"></span> Log out</a></li>
          </ul>
      {% else %}
        <ul class="navbar-nav ml-auto">
            <li><a class="nav-item nav-link" href="{{url_for('users.register_user')}}"><span class="fas fa-user-plus"></span> Sign Up</a></li>
            <li><a class="nav-item nav-link" href="{{url_for('users.login_user')}}"><span class="fas fa-sign-in-alt"></span> Log in</a></li>
        </ul>
      {% endif %}
    </div>
</nav>

<div class="content container">
{% block content %}

{% endblock %}
</div>
</body>
</html>